.details--container{
  display: flex;
  width: 100%;
  margin: unset;
  gap: 2em;
}

.details-header--container{
}

.details-header{
  display: flex;
  background-color: var(--green-light);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 8px;
}

.details-content--container{}

.details-content--container p{
  max-width: unset;
  display: flex;
  flex-direction: column;
}

.details-answers--container{}

.max-width--unset{
  max-width: unset;
}