

.App {
  display: flex;
  flex-direction: column;
  align-items: auto;
  padding: 0px;
  /* max-width: 80vw; */
  height: calc(100vh - 110px);
  overflow: auto;
  
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App  h2{
  display: flex;
  background-color: var(--green-light);
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


/* .App p{
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  align-items: auto;
  padding: 20px; 
}   */

.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }

.article-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-height: 500px; /* Adjust this value to control the default height */
  overflow: scroll;
   transition:all                                
     /* max-height 0.3s ease-in-out;  */ 
}

.article-card h5{
  background-color:lightyellow;
  align-items: auto;
}

.article-card p{
 
  background-color:lightskyblue;
  align-items: auto;
 
}



.article-card h2{
  background-color:lightyellow;
  align-items: auto;
}


.article-card h4{
  background-color:chartreuse;
  align-items: auto;
}


.answers p{
  background-color:aquamarine;
  align-items: auto;
}


.details h4{
  background-color:lightyellow;
  align-items: auto;
}


.details p{
   background-color: yellow;
   align-items: center;
}

.details li{
  background-color:aquamarine;
  align-items: center;
}

/* ButtonStyles.css */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.min-height--50{
  min-height: 50px;
}

.border-bottom--075{
  border-bottom:solid 0.75px var(--primary-500);
}

.btn-primary > a{
  color: white;
  text-decoration: none;
}

.custom-styled-card{
  height: 11em;
  overflow-y: auto;
}

.custom-card--container{
  /* width: calc(100% / 3.25); */
  /* height: 24em; */
}

.custom-flex{
  flex:unset
}

.custom-link{
  text-decoration: unset;
}

a{
  color: var(--primary-500);
}

.custom-card-image-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.custom-card-image-container img{
  min-width: 50%;
  max-width: 100%;
  width: unset;
}

.width-100{
  width: 100% !important;
}

.search-results{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-card--img{
  width: 25%;
}

.search-caption{
  font-style: sans-serif;
  font-style: italic;
  position: relative;
  top:100px;
}

.card-position{
  position: relative;
  right:100px;
}

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
            opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
            opacity: 1;
  }
}

.search-more-btn{
  gap:4px;
  margin-left: auto;
  width: fit-content;
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: rgb(89, 174, 186) !important;
}

.loading-dots:after {
  content: ' ...';
  animation: dots 3s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
  }